%ul.action_list
  - user.clients.each do |client|
    %li
      = client.display_name
      (Needs Attention:
      %span{class: client.has_flag?(:special_attention) ? 'red-font bold-font':'green-font'}
        = client.has_flag?(:special_attention) ? 'Yes':'No'
      )
