%ul.volunteer_list
  - user.volunteers.each do |vol|
    %li
      = vol.full_name
      (status:
      %span{class: vol.is_current? ? 'current':'not_current'}
        = vol.is_current? ? 'Current':'Not Current'
      )
