.main.container {
    background: antiquewhite;
    min-height: 450px;
}

.bold-font {
    font-weight: bold;
}

.italicized-font {
    font-style: italic;
}

.red-font {
    color: red;
}

.green-font {
    color: green;
}

.section-title {
    font-size: 1.1em;
    font-weight: bold;
}

a {
  color: brown;
}

hr {
   border-color: black;
}

thead {
    font-weight: bold;
}

.table-striped {
    background-color: #f5f5dc;
}
