.forms
  %h1 
    Form Entry #
    = @form_entry.id

  %h2
    Client: 
    = @form_entry.client_cross_reference

  %h1
    Responses

  - @form_entry.form_answers.each do |f_a|
    %hr
    %span.form_question
      = f_a.question.display_value
    %span.form_answer
      = f_a.question.answer(f_a.answer_value)

  
